/* STYLE SHEET FOR INDEX.HTM */

/* 
==============
Navbar
==============
 */
nav {
  background: #d8d8d8;
  font-weight: bold;
  float: left;
  height: 420px;
  margin-right: 10px;
  padding-right: 24px;
}

/* 
==============
Header
==============
 */
header {
  /* border-bottom-color: #d8d8d8;
  border-bottom-style: solid;
  border-bottom-width: 5px; */

  /* shorthand for the above */
  border-bottom: 5px solid #d8d8d8;
}

body {
  /* border-style: solid;
  border-width: 5px;
  border-color: #d8d8d8; */

  /* short-hand of the above border */
  border: 5px solid #d8d8d8;
  font-size: 80%;
  font-family: arial, helvetica, geneva, sans-serif;
}

article {
  padding: 10px;
}

h1 {
  font-family: arial, helvetica, geneva, sans-serif;
  margin-top: 5px;
  margin-bottom: 0;
}

.floatright {
  clear: right;
  float: right;
  margin: 10px;
}

/* 
==============
Footer
==============
 */

footer {
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #d8d8d8;
  clear: both;
  font-size: 80%;
  margin-top: 0;
  padding: 0;
  text-align: center;
}
